.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  

  
  .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .image {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.2rem;
    color: #b12704;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .category {
    font-size: 0.8rem;
    color: #555;
  }
  